.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: var(--fv-warm-white);
  color: var(--fv-dark-text);
  font-family: var(--font-body);
}

.App-link {
  color: #61dafb;
}